# --- Python ---
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.so
*.egg-info/
*.egg

# --- Entornos virtuales ---
venv/
.env
.env.bak

# --- Django / Base de datos ---
db.sqlite3
*.sqlite3

# --- Static generados (NO los fuente) ---
staticfiles/

# --- Media subida por usuarios ---
media/

# --- IDE / Editor ---
.vscode/
.idea/
*.swp
*.swo
